.services{

background:#0b0b0b;

padding:110px 30px;

position:relative;

overflow:hidden;

}

/* textura */

.services::before{

content:"";

position:absolute;

inset:0;

background-image:

linear-gradient(rgba(255,255,255,.02) 1px, transparent 1px),

linear-gradient(90deg, rgba(255,255,255,.02) 1px, transparent 1px);

background-size:60px 60px;

opacity:.3;

pointer-events:none;

}

.container{

max-width:1200px;

margin:auto;

}

.section-subtitle{

color:#ff8c00;

font-family:"Oswald";

font-size:18px;

letter-spacing:4px;

margin-bottom:15px;

}

.services h2{

font-family:"Oswald";

font-size:50px;

font-weight:600;

color:#fff;

margin-bottom:60px;

text-transform:uppercase;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

gap:28px;

}

.card{

display:flex;

align-items:flex-start;

gap:25px;

padding:30px;

background:#121212;

border:1px solid #242424;

border-left:5px solid #ff8c00;

transition:.35s;

position:relative;

overflow:hidden;

}

.card::after{

content:"";

position:absolute;

top:0;

left:-100%;

width:100%;

height:100%;

background:linear-gradient(90deg,

transparent,

rgba(255,140,0,.15),

transparent);

transition:.7s;

}

.card:hover::after{

left:100%;

}

.card:hover{

transform:translateY(-10px);

border-color:#ff8c00;

box-shadow:

0 0 20px rgba(255,140,0,.15),

0 25px 45px rgba(0,0,0,.6);

}

.icon{

width:72px;

height:72px;

min-width:72px;

border:2px solid #ff8c00;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:#ff8c00;

transition:.35s;

}

.card:hover .icon{

background:#ff8c00;

color:#111;

transform:rotate(-5deg);

}

.card h3{

font-family:"Oswald";

font-size:26px;

color:white;

margin-bottom:12px;

text-transform:uppercase;

}

.card p{

font-family:"Inter";

color:#b8b8b8;

line-height:1.8;

font-size:15px;

}
